| $(".follow-form").replaceWith("#{ j render('users/follow_form') }");
| $(".js-profile-buttons").replaceWith("#{ j render('users/buttons') }");
| $(".js-users-list").replaceWith("#{ j render('users/list', users: other_users) }");
